

    <!--Main div-->
    <div class="container-fluid tight">
      <div class="row tight">
          
          
          <!--sidebar-->
         <app-sidebar class="col-1 bg-dark"></app-sidebar>
          <!--end of sidebar-->

          <!--product pane-->
         <app-productpane class="col-6 bg-light top-tight"></app-productpane>
          <!--end of product pane-->


          <!--cart-->
          <app-actionpane class="col-5 bg-light top-tight"></app-actionpane>
          <!--end of cart-->
  
      </div>

     
  </div>
  <div class="myfooter text-white">
      Online
  </div>



 