  <div class="row">
          <button type="button" class="btn btn-outline-secondary btn-sq-lg"><i class="material-icons md-48">
                  apps
                  </i>
              <br/>
                  Checkout
              </button>
  </div>
  <div class="row">
          <button type="button" class="btn btn-outline-secondary btn-sq-lg"><i class="material-icons md-48">
                  attach_money
                  </i>
              <br/>
                  Cash Drawer
              </button>
  </div>
  <div class="row">
          <button type="button" class="btn btn-outline-secondary btn-sq-lg"><i class="material-icons md-48">
                  how_to_vote
                  </i>
              <br/>
                  Orders
              </button>
  </div>
  <div class="row">
          <button type="button" class="btn btn-outline-secondary btn-sq-lg"><i class="material-icons md-48">
                  inbox
                  </i>
              <br/>
                  Saved
              </button>
  </div>
  <div class="row">
          <button type="button" class="btn btn-outline-secondary btn-sq-lg">
            <i class="material-icons md-48">
                  assessment
                  </i>
              <br/>
                  Reports
              </button>
  </div>