.scrollable{
    height:89vh;
    overflow-y: scroll;
}
.tight{
    margin-bottom: 0px;
    padding-bottom: 0px 
}
.top-tight{
    padding: 0
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
}

.material-icons.md-48 { font-size: 80px; }

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
    margin: 0.5%
  }
.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    margin-top: 0;
    width: 100%;
    background-color: black
}